#layout {
    --navbar_height: 60px;
    
    display: flex;
    flex-direction: column;
}

.div_marker_map_blue {
    --size_circle: 17px;

	border-radius: 50%;
    width: var(--size_circle) !important;
	height: var(--size_circle) !important;
    background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.div_marker_map_blue::after {
    content: '';
    position: absolute;
	border-radius: 50%;
    width: calc(var(--size_circle) - 6px) !important;
	height: calc(var(--size_circle) - 6px) !important;
    top: 3px;
    left: 3px;
    background-color: rgba(0, 0, 255, 0.4);
}

.div_marker_map_red {
    --size_circle: 17px;

	border-radius: 50%;
    width: var(--size_circle) !important;
	height: var(--size_circle) !important;
    background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.div_marker_map_red::after {
    content: '';
    position: absolute;
	border-radius: 50%;
    width: calc(var(--size_circle) - 6px) !important;
	height: calc(var(--size_circle) - 6px) !important;
    top: 3px;
    left: 3px;
    background-color: rgba(255, 0, 0, 0.4);
}