#prediction_layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: calc(100vh - var(--navbar_height));
}

#prediction_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    min-height: calc(16vh - 40px);
    width: calc(100vw - 40px);
    border: 1px solid #e6e9ec;
    border-radius: 8px;
    padding: 6px;
}

#prediction_graph_area {
    display: flex;
    height: calc(84vh - var(--navbar_height));
    width: 100vw;
    justify-content: center;
}

.prediction_vertical_line {
    border-left: 1px solid #e6e9ec;
}

#prediction_date_range_picker {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -7px;
}

#prediction_divider_date_range {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    width: 350px;
}

#prediction_divider_date_range > * > * > p {
    margin-bottom: 0px;
}

#prediction_station_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prediction_station_select {
    width: 300px;
}

#prediction_info_button {
    margin-top: auto;
    margin-bottom: auto;
}

#prediction_dataset_distribution {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    user-select: none;
    margin-top: 10px;
}

#prediction_dataset_distribution_body {
    display: flex;
    flex-direction: column;
    
    position: relative;
    width: 500px;
    height: 46px;
    margin: 10px auto;
}

#prediction_dataset_distribution_percentage {
    display: flex;
    width: 100%;
}

#prediction_dataset_training_percentage {
    width: 70%;
    color: #36454f;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#prediction_dataset_test_percentage {
    width: 30%;
    color: #003153;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#prediction_dataset_distribution_bar {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#prediction_dataset_training_bar {
    width: 70%;
    background-color: #36454f;
    color: #e6e9ec;
    border-right: #e6e9ec dashed 1px;
    display: flex;
    justify-content: center;
}

#prediction_dataset_test_bar {
    width: 30%;
    background-color: #003153;
    color: #e6e9ec;
    display: flex;
    justify-content: center;
}

#prediction_dataset_distribution_date {
    display: flex;
    position: relative;
    width: 100%;
}

#prediction_dataset_training_date_start {
    position: absolute;
    left: 1px;
}

#prediction_dataset_training_date_end {
    position: absolute;
    right: 30%;
}

#prediction_dataset_test_date_end {
    position: absolute;
    right: 1px;
}

#prediction_station_select_info_box {
    width: 300px;
}