#viewport_map_statistics {
    height: calc(100vh - var(--navbar_height));
    width: 100%;
}

#menus_map_statistics {
    display: flex;
    position: absolute;
    z-index: 1010;
    top: calc(var(--navbar_height) + 8px);
    left: 8px;
}

#date_range_picker_map_statistics {
    width: 300px;
    margin-right: 8px;
}

#select_map_statistics {
    width: 250px;
}